/* customization for mobiles */

@media only screen and (max-width: 500px) {
    .carousel-caption {
        bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        display: none;
    }
    .carousel-caption h5 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.carousel-item img {
    max-height: 500px;
}